@import url('https://fonts.googleapis.com/css?family=Quicksand:100,200,300,400,500,600,700|Exo:100,200,300,400,500');

body {
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
}

/* ------------------------------------------ Home*/

#home {
    margin: 0;
    padding: 0;
    border: 0;
}

.band-name {
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 200;
    padding-top: 20px;
    padding-bottom: 25px;
}

h2 {
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 100;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.d-block {
    border-radius: 0%;
}

#my-slider {
    border-bottom: 20px;
}

/* ------------------------------------------ About */

img {
    border-radius: 50%;
    display: block;
}

h3 {
    font-family: "Quicksand", sans-serif;
    font-weight: 100;
    color: black;
    text-align: center;
    padding-top: 20px;
}

.members {
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 100;
    padding-bottom: 20px;
}

/* ------------------------------------------ Clips */

.card-img-top {
    border-radius: 0%;
}

.card-title {
    color: black;
}

.card-deck {
    margin-bottom: 40px;
}
/* ------------------------------------------ Interviews */

.box-quote {
    background-color: white;
    color: black;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 200;
    border: dotted 1px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 0px;
}


/* ------------------------------------------ Contact Us */

h5 {
    color: white;
    font-family: "Quicksand", sans-serif;
    font-weight: 100;
    text-align: center;
}

form {
    padding-bottom: 20px;
}

/* ------------------------------------------ Footer */

#footer-details {
    min-height: 130px;
    background-color: black;
    padding-top: 20px;
    text-align: center;
}

h6 {
    display: block;
    color: white;
    font-family: "Quicksand", sans-serif;
    font-weight: 100;
    text-align: center;
}

ul li a i {
    color: white;
}

.iconitem a i {
    padding-top: 22px;
    font-size: 30px;
}