@import url('https://fonts.googleapis.com/css?family=Quicksand:100,200,300,400,500,600,700|Exo:100,200,300,400,500');

/* ------------------------------------------ Colours */

/* ------------------------------------------ Special paddings / margins / text */

.uppercase {
    text-transform: uppercase;
}

/* ------------------------------------------ Heading */

header {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav {
    padding-top: 10px;
    padding-bottom: 5px;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
}

.title {
    padding-top: 5px;
    padding-left: 10px;
    font-family: "Quicksand", sans-serif;
    font-weight: 100;
}

ul li a {
    color: red;
}

a:hover {
    color: green;
}

/* ------------------------------------------ Section */




/* ------------------------------------------ Footer */

