@import url('https://fonts.googleapis.com/css?family=Quicksand:100,200,300,400,500,600,700|Exo:100,200,300,400,500');

/* ------------------------------------------ Colours */

/* ------------------------------------------ Special paddings / margins / text */

.uppercase {
    text-transform: uppercase;
}

/* ------------------------------------------ Heading */

body {
  position: relative;
  height: 100%;
}

header {
    margin: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: blue;
    min-height: 140px;
}

.nav {
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
}


.title {
    padding-top: 0px;
    padding-left: 10px;
    font-family: "Quicksand", sans-serif;
    font-weight: 100;
}

ul li a {
    
}

a:hover {
    color: green;
}

/* ------------------------------------------ Home */

.band-name {
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 100;
    padding-top: 5pxs;
}

.front-cover {
    border-radius: 0%;
    width: 800px;
    height: 400px;
    padding-bottom: 20px;
}

.jumbotron-fluid {
    display: block;
}

#carouselExampleControls {
    margin: 0
}

.active {
    margin: 0;
}

.carousel-item {
    width: 400px;
    height: 500px;
}

/* ------------------------------------------ About */

img {
    border-radius: 50%;
}

.card-img-top {
    border-radius: 0%;
}

.members {
    font-family: "Quicksand", sans-serif;
    font-weight: 100s;
    text-align: center;
}

/* ------------------------------------------ News and Tour */

.box-news {
    margin: 20px;
}

.box-tour {
    margin: 20px;
}

.news-item {
    margin: 0px;
    border: black dotted 1px;
    padding: 25px;
}

.tour-item {
    margin: 0px;
    border: black dotted 1px;
    padding: 25px;
}

h5 {
    text-align: center;
    font-family: "Quicksand" sans-serif;
    font-weight: 400;
    padding-top: 20px;
    /*-- check all h5s are the same */
}

/* ------------------------------------------ Clips */

/* ------------------------------------------ Interviews */

h3 {
    margin-top: 10px;
    color: white;
}

.embed-responsive {
    margin-bottom: 30px;
    margin-top: 15px
}

.box-quote {
    border: dotted 1px black;
    margin-bottom: 10px;
}

/* ------------------------------------------ Contact */

button {
    margin-top: 20px;
}


/* ------------------------------------------ Footer */

#footer-details {
    min-height: 130px;
    background-color: blue;
}

.list-inline-item {
    padding-top: 50px;
}

